.inlineCodeBlock {
  font-weight: 300;
}

.codeBlock {
  display: block;
  color: #657b83;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: anywhere;
  tab-size: 4;
  hyphens: none;
  padding: var(--line-height) 4ch;
  max-width: 100%;
  box-sizing: border-box;

  // These class names are built into prism-react-renderer so we need to
  // prevent mangling them, thus :global.
  :global .token {
    &.comment,
    &.prolog,
    &.doctype,
    &.cdata {
      color: #93a1a1;
    }

    &.punctuation {
      color: #586e75;
    }

    &.namespace {
      opacity: 0.7;
    }

    &.property,
    &.tag,
    &.boolean,
    &.number,
    &.constant,
    &.symbol,
    &.deleted {
      color: #268bd2;
    }

    &.selector,
    &.attr-name,
    &.string,
    &.char,
    &.builtin,
    &.url,
    &.inserted {
      color: #2aa198;
    }

    &.entity {
      color: #657b83;
      background: #eee8d5;
    }

    &.atrule,
    &.attr-value,
    &.keyword {
      color: #859900;
    }

    &.function,
    &.class-name {
      color: #b58900;
    }

    &.regex,
    &.important,
    &.variable {
      color: #cb4b16;
    }

    &.important,
    &.bold {
      font-weight: bold;
    }

    &.italic {
      font-style: italic;
    }

    &.entity {
      cursor: help;
    }
  }
}
