@import "../app/solarized.scss";

.list {
    padding: 0;

    li {
        counter-increment: item;
        margin-left: 4ch;
        position: relative;

        &:before {
            color: $green;
            content: counter(item) ".";
            right: 100%;
            padding-right: 1ch;
            position: absolute;
        }
    }

    ::marker {
        // Allows the list to retain its status in the accessibility tree on
        // safari (whereas it wouldn't if we used list-style: none).
        // https://medium.com/@havard.brynjulfsen/removing-list-style-on-lists-and-the-accessibility-implications-that-follow-2392f5ddb332
        font-size: 0;
    }
}
