@import "../app/solarized.scss";

.list {
    list-style: none;
    padding: 0;

    li {
        counter-increment: item;
        margin-left: 4ch;
        position: relative;

        &:before {
            color: $green;
            content: counter(item) ".";
            right: 100%;
            padding-right: 1ch;
            position: absolute;
        }
    }
}
