@import "#root/app/solarized.scss";

.postHeading {
  font-weight: normal;
  margin-bottom: var(--line-height);
  background-color: $base2;
}

.postTitle {
  margin-right: 0.5rem;
}

.postDate {
  font-weight: 300;
  color: $violet;
}

.timestampAnchor {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
