@import "common.less";

.top-bar {
    background-color: #eee8d5;
    margin-bottom: @lineHeight;

    .post-date {
        font-weight: 300;
        color: @dateTimeColor;
    }
}

p, ol, ul, img {
    margin: 0 0 @lineHeight 0;
}

ol, ul {
    list-style: none;
    padding: 0;
}

ol > li {
    counter-increment: item;
    padding-left: 4ch;
    position: relative;

    &:before {
        color: @gutterColor;
        content: counter(item) + ".";
        display: inline-block;
        left: 0;
        padding: 0 1ch;
        position: absolute;
    }
}

ul > li {
    padding-left: 3ch;
    position: relative;

    &:before {
        color: @gutterColor;
        content: "*";
        display: inline-block;
        left: 0;
        padding: 0 1ch;
        position: absolute;
    }
}

.red-bold {
    color: #DC322F;
    // font-weight: bold;
}

.rounded-40 {
    border-radius: 40px;
}

table.footnote td {
    padding: 0;
    margin: 0;

    &.label {
        padding-right: 1ch;
    }
}

h2, h3, h4, h5, h6 {
    font-weight: bold;

    * {
        font-weight: bold;
    }
}

img {
    background-color: #eee8d5;
    border-color: #eee8d5;
    border-style: solid;
    border-width: @lineHeight 2ch;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
    width: 100%;

    &.small-image {
        max-width: 40ch;
    }
}

tt, pre {
    font-weight: 300;

    b, strong {
        font-weight: normal;
    }
}

pre {
    padding: 0 0 0 4ch;
    white-space: pre-wrap;
}
