@import "#root/app/solarized.scss";

.postSnippetContainer {
  position: relative;
  overflow-y: hidden;

  .quoteGutter {
    word-wrap: break-word;
    color: $green;
    width: 1ch;
    position: absolute;
    user-select: none;
  }

  .postSnippet {
    margin-left: 2ch;
  }
}
