<!DOCTYPE html>
<html>
<head>
    <title>Posts - blog.johncs.com</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="A blog by John C Sullivan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- inject:head:css -->
    <!-- endinject -->
</head>
<body class="single-column-content">
    <script>
        if (!(sessionStorage && sessionStorage.getItem &&
                sessionStorage.getItem("fontLoadingResult") === "fail")) {
            document.body.className += " fonts-loading"
        }
    </script>
    <nav class="nav-bar">
        <a href="/">blog.johncs.com</a>:
        <ul>
            <li>Posts</li>
            <li><a href="./mini-projects-index.htm">Mini Projects</a></li>
        </ul>
    </nav>
    <div class="page-info">
        I blog sometimes! I've covered topics including software engineering, polyamory, tabletop RPGs, and random other things.
        <br><br>
        You can be alerted to new posts by subscribing through <a href="/rss.xml">RSS</a> or following me on <a href="https://twitter.com/itsjohncs">Twitter</a>.
    </div>
    <h2><span aria-hidden="true">##</span> All Posts</h2>
    <div class="all-posts">
        {{#posts}}
        <article class="post">
            <div class="post-heading">
                <span>
                    <a href="{{permalink}}" class="post-title">{{title}}</a>
                    <time class="post-date"><span aria-hidden="true">[{{published_on}}]</span><span class="sr-only">{{published_on_long}}</span></time>
                </span>
            </div>
            <div class="post-snippet-container">
                <div class="quote-gutter" aria-hidden="true">
                    >>>>>>>>>>>>>>>>>>>>
                </div>
                <div class="post-snippet">
                    {{{description}}} <a href="{{permalink}}">(more)</a>
                </div>
            </div>
        </article>
        {{/posts}}
    </div>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <!-- inject:body-end:javascript -->
    <!-- endinject -->
</body>
</html>
