<!DOCTYPE html>
<html>
<head>
    <title>John CS</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="The personal site of John C Sullivan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- inject:head:css -->
    <!-- endinject -->
</head>
<body class="single-column-content">
    <script>
        if (!(sessionStorage && sessionStorage.getItem &&
                sessionStorage.getItem("fontLoadingResult") === "fail")) {
            document.body.className += " fonts-loading"
        }
    </script>
    <nav class="nav-bar" style="text-align: left">
        John CS:
        <ul>
            <li><a href="./blog-index.htm">Blog</a></li>
            <li><a href="./mini-projects-index.htm">Mini Projects</a></li>
            <li><a href="http://johnsullivan.name">Portfolio</a></li>
            <li><a href="https://github.com/brownhead">GitHub</a></li>
            <li><a href="https://twitter.com/itsjohncs">Twitter</a></li>
        </ul>
    </nav>
    <div class="floating-head">
        <a href="/images/me.jpg"><img src="/images/me.jpg" class="tiny-image"></a>
    </div>
    <div class="page-info">
        <p>
            This is my personal website! I put silly things here like <a href="./blog-index.htm">blog posts</a> and <a href="./mini-projects-index.htm">itty-bitty projects</a>.
        </p>
        <p>
            I used to work as a Software Engineer at <a href="https://www.khanacademy.org">Khan Academy</a> but now I'm doing some other stuff you can read about at <a href="http://johncs.com">johncs.com</a>. I still spend my free time juggling, practicing magic tricks, swinging around on silks, and DMing D&D.
        </p>
        <p>
            For a more serious/professional look at me, check out my <a href="http://johnsullivan.name">portfolio</a> and <a href="http://github.com/brownhead">GitHub profile</a>.
        </p>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <!-- inject:body-end:javascript -->
    <!-- endinject -->
</body>
</html>
