<!DOCTYPE html>
<html>
<head>
    <title>blog.johncs.com</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- inject:head:css -->
    <!-- endinject -->
</head>
<body class="single-column-content">
    <script>
        if (!(sessionStorage && sessionStorage.getItem &&
                sessionStorage.getItem("fontLoadingResult") === "fail")) {
            document.body.className += " fonts-loading"
        }
    </script>
    <nav class="nav-bar" style="text-align: left">
        blog.johncs.com:
        <ul>
            <li><a href="./blog-index.htm">Posts</a></li>
            <li><a href="./mini-projects-index.htm">Mini Projects</a></li>
        </ul>
    </nav>
    <div class="floating-head">
        <a href="/images/me.jpg"><img src="/images/me.jpg" class="tiny-image"></a>
    </div>
    <div class="page-info">
        <p>
            Welcome to my corner of the internet! I put silly things here like <a href="./blog-index.htm">blog posts</a> and <a href="./mini-projects-index.htm">itty-bitty projects</a>.
        </p>
        <p>
            I used to work at <a href="https://www.khanacademy.org">Khan Academy</a> but now I'm doing some other stuff you can read about at <a href="http://johncs.com">johncs.com</a>. I spend my free time juggling, practicing magic tricks, swinging around on silks, and DMing D&D.
        </p>
        <p>
            Looking for more info on me? Check out my <a href="http://johnsullivan.name">resume-portfolio</a>, <a href="http://github.com/brownhead">GitHub profile</a>, or <a href="http://twitter.com/itsjohncs">twitter</a>.
        </p>
    </div>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <!-- inject:body-end:javascript -->
    <!-- endinject -->
</body>
</html>
