<!DOCTYPE html>
<html>
<head>
    <title>{{displayed_post.title}} - blog.johncs.com</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- inject:head:css -->
    <!-- endinject -->
</head>
<body class="single-column-content">
    <script>
        if (!(sessionStorage && sessionStorage.getItem &&
                sessionStorage.getItem("fontLoadingResult") === "fail")) {
            document.body.className += " fonts-loading"
        }
    </script>
    <header class="nav-bar">
        <a href="/">blog.johncs.com</a>: <a href="../blog-index.htm">Posts</a> &gt; {{displayed_post.title}} <span class="post-date">[{{displayed_post.published_on}}]</span>
    </header>
    <div class="post-body">
        {{{html_content}}}
    </div>
    <div class="post-footer">
        <br>--<br><br>
        <a href="/blog-index.htm">« more posts</a> | follow me via <a href="https://twitter.com/itsjohncs">twitter</a>, or <a href="/rss.xml">RSS</a>
    </div>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <!-- inject:body-end:javascript -->
    <!-- endinject -->
</body>
</html>
