@import "#root/app/solarized.scss";

:root {
    --line-height: 22px;
    --text-color: #{$base00};
    --page-background-color: #{$base3};
    --feature-background-color: #{$base2};
}

* {
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0;
    line-height: var(--line-height);
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--page-background-color);
    color: var(--text-color);
    padding: var(--line-height) 2ch calc(var(--line-height) * 10) 2ch;
    max-width: 72ch;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: $yellow;

    &:hover {
        text-decoration: underline;
    }
}

img,
video {
    background-color: var(--feature-background-color);
    border-color: var(--feature-background-color);
    border-style: solid;
    border-width: var(--line-height) 2ch;
    box-sizing: border-box;
    display: block;
    margin-bottom: var(--line-height);
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;
    width: 100%;

    &.small-image {
        max-width: 40ch;
    }

    &.tiny-image {
        max-width: 30ch;
    }
}

p,
ol,
ul {
    margin: 0 0 var(--line-height) 0;
}

// Used by the MDX builder
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
