@import "./solarized.scss";

.main {
    display: grid;
    grid-template:
        "selfie lists"
        "bio bio" / min-content 1fr;
    justify-items: start;
    gap: var(--line-height) 2ch;
}

.flatList {
    list-style: none;
    padding: 0;
}

.aboutMe {
    grid-area: lists;
}

.bio {
    grid-area: bio;
}

.selfieCell {
    grid-area: selfie;

    .selfie {
        width: 20ch;
        margin: 0;
    }
}

.linkList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .bullet {
        color: $green;
        white-space: pre;
    }
}

@media (max-width: 72ch) {
    .main {
        grid-template:
            "selfie"
            "lists"
            "bio" / 1fr;
    }
}
