body {
    --accent-color: #ffbf00;
    --background-color: #eee;
    --moon-display: none;
    --sun-display: block;
    --text-color: #000;
    --tt-bg-color: #CCC;;
    color: var(--text-color);
    margin: 40px auto;
    max-width: 700px;
    background-color: var(--background-color);
}

body.override-dark {
    --background-color: #34373A;
    --accent-color: #cc9900;
    --moon-display: block;
    --sun-display: none;
    --text-color: #cbd0d0;
    --tt-bg-color: #454545;
}

body.override-light {
    --accent-color: #ffbf00;
    --background-color: #eee;
    --moon-display: none;
    --sun-display: block;
    --text-color: #000;
    --tt-bg-color: #CCC;;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: #34373A;
        --accent-color: #cc9900;
        --moon-display: block;
        --sun-display: none;
        --text-color: #cbd0d0;
        --tt-bg-color: #454545;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --accent-color: #ffbf00;
        --background-color: #eee;
        --moon-display: none;
        --sun-display: block;
        --text-color: #000;
        --tt-bg-color: #CCC;;
    }
}

@media (max-width: 800px) {
    body {
        margin-top: 30px;
    }
}

nav {
    position: relative;
    left: -1px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

nav a {
    color: inherit;
    position: relative;
    font-family: 'Chivo';
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 26px;
    top: 4px;
    transition: top 0.1s ease-in;
    letter-spacing: -1px;
}

nav a:hover {
    top: 0px;
}

nav #color-scheme-toggle {
    position: relative;
    top: 0;
    background: none;
    border: none;
    color: inherit;
    height: 26px;
    cursor: pointer;
    transition: top 0.1s ease-in;
}

nav #color-scheme-toggle:hover {
    top: -4px;
}

nav #color-scheme-toggle .moon {
    display: var(--moon-display);
    position: relative;
    top: -22px;
    height: 60px;
    transform: rotate(-30deg);
}

nav #color-scheme-toggle .sun {
    display: var(--sun-display);
    position: relative;
    transform: rotate(-10deg);
    height: 60px;
    top: -8px;
}

@media (max-width: 800px) {
    nav {
        left: 2px;
        margin-right: 2px;
    }

    nav a {
        top: 1px;
        font-size: 38px;
        line-height: 19px;
    }

    nav #color-scheme-toggle {
        height: 19px;
    }

    nav #color-scheme-toggle:hover {
        top: -1px;
    }

    nav #color-scheme-toggle .moon {
        height: 50px;
    }

    nav #color-scheme-toggle .sun {
        top: -15px;
    }
}

@media (prefers-reduced-motion) {
    nav a, nav a:hover {
        top: 0;
    }

    nav #color-scheme-toggle, nav #color-scheme-toggle:hover {
        top: -4px;
    }
}

.post-title-container {
    background-color: var(--accent-color);
    padding: 100px;
    margin: 0;
    z-index: 1;
    position: relative;
}

.post-title-container h1 {
    font-family: 'Chivo';
    display: inline;
    background-color: var(--background-color);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    padding: 0 10px;
    box-decoration-break: clone;
}

.post-title-container h1 time {
    color: var(--accent-color);
}

.post-title-container h1 time:hover, .post-title-container h1 time:focus {
    color: var(--text-color);
    transition: color 0.1s ease-in;
}

@media (max-width: 800px) {
    .post-title-container {
        padding: 50px 20px;
    }

    .post-title-container h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

/** article body **/

article {
    font-family: Merriweather, serif;
    padding: 25px 20px;
    line-height: 1.5;
    font-size: 16px;
}

@media (max-width: 800px) {
    article {
        padding: 25px 13px;
    }
}

article h2 {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    border-bottom: 10px solid var(--accent-color);
    font-size: 28px;
    box-sizing: border-box;
}

article h2 a {
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 4px 8px;
}

article p code {
    font-family: 'Source Code Pro', monospace, monospace;
    background-color: var(--tt-bg-color);
    padding: 2px 4px;
}

article blockquote {
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

article a {
    color: #000;
    background-color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
    padding: 4px 8px;
    box-decoration-break: clone;
}

article a:hover {
    text-decoration: underline;
}

article .md-img-container {
    background-color: var(--tt-bg-color);
    padding: 20px;
}

article .md-img-container a {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 0;
}

article .md-img-container img {
    display: block;
    width: 1px;
    width: 100%;
    max-width: max-content;
}

@media (max-width: 800px) {
    article .md-img-container {
        padding: 5px;
    }
}

article sup a {
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 12px;
}

article .highlight {
    background-color: #272822;
    --gutter-width: 30px;
    --gutter-margin: 10px;
    border-left: var(--gutter-width) solid var(--accent-color);
    padding-left: var(--gutter-margin);
    padding-right: var(--gutter-margin);
    width: 100%;
    margin-left: calc(-1 * (var(--gutter-width) + var(--gutter-margin)));
    counter-reset: line-number;
}

@media (max-width: 800px) {
    article .highlight {
        width: auto;
        margin-left: 0;
    }
}

article .highlight pre:focus {
    /* Tabbing support was added for scrollable code snippets in chroma#514 but
     * I don't use horizontal scrolling in my snippets. Ideally I'd remove the
     * tabindexes so they're not tab traps though... */
    outline: none;
}

article .highlight code {
    font-family: 'Source Code Pro', monospace, monospace;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    color: #f8f8f2;
}

article .highlight .ln  {
    margin-left: calc(-1 * calc(var(--gutter-width) + var(--gutter-margin)));
    display: inline-block;
    width: var(--gutter-width);
    color: #000;
    text-align: right;
    box-sizing: border-box;
    padding-right: 5px;
    margin-right: var(--gutter-margin);
    user-select: none;
    visibility: hidden;
}

article .highlight .ln::after {
    counter-increment: line-number;
    content: counter(line-number);
    visibility: visible;
}
