@import "#root/app/solarized.scss";

.navBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--feature-background-color);
    border-left: 1ch solid $blue;
    border-right: 1ch solid $blue;
    margin-bottom: var(--line-height);
    padding: 0 1ch;
    text-align: left;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;

        li {
            display: inline;

            &:after {
                color: var(--soft-text-color);
                content: ", ";
            }

            &:last-child:after {
                content: "";
            }
        }
    }
}

.left {
    flex-grow: 1;
}

.right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: min-content;
    flex-grow: 1;
    max-width: max-content;
    margin-left: 1ch;
}

.rssIconContainer {
    display: flex;
    height: var(--line-height);
    align-items: center;

    .rssIcon {
        width: 2ch;
    }
}

.pageLink {
    color: $blue;
}

.post ul li:after {
    content: " > ";
    color: var(--soft-text-color);
}

.colon {
    color: var(--soft-text-color);
}
