@import "#root/app/solarized.scss";

.postHeading {
    font-weight: normal;
    margin-bottom: var(--line-height);
    background-color: var(--feature-background-color);
}

.postTitle {
    margin-right: 0.5rem;
}

.timestampAnchor {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}
