<!DOCTYPE html>
<html>
<head>
<title>johncs.com</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="me.jpg" type="image/x-icon">
<meta name="description" content="A grown-up queer kid trying to make snazzy stuff and do some good. My pronouns are they/them.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:description" content="A grown-up queer kid trying to make snazzy stuff and do some good. My pronouns are they/them." />
<meta property="og:image" content="http://johncs.com/me.jpg" />

{{ $normalize := resources.Get "normalize.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $normalize.Permalink }}">

{{ range .Resources.Match "*.css" }}
    <link rel="stylesheet" href="{{ relURL (.) }}">
{{ end }}
</head>
<body>
<div class="rainbow-container">
    <svg viewBox="0 0 3 600" preserveAspectRatio="none" height="100%" width="3">
        <defs>
            <linearGradient id="rainbow" x1="0" x2="0" y1="0" y2="100%" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="red"/>
                <stop offset="20%" stop-color="orange"/>
                <stop offset="40%" stop-color="yellow"/>
                <stop offset="60%" stop-color="green"/>
                <stop offset="80%" stop-color="blue"/>
                <stop offset="100%" stop-color="purple"/>
            </linearGradient>
        </defs>
        <rect fill="url(#rainbow)" x="0" y="0" width="3" height="600"></rect>
    </svg>
</div>
<article class="about-me">
    <img class="me-pic" src="me.jpg">
    <h1 class="title-name">John Sullivan (they/them)</h1>
    <p class="subtitle">
        A grown-up queer kid trying to make snazzy stuff and do some good
    </p>
    {{.Content}}
    <p class="nav-bar">
        <span class="my">My:</span> <a href="https://resume.johncs.com">Resume</a> | <a href="https://particles.johncs.com">Silly&nbsp;Dots</a> | <a href="mailto:johnsullivan.pem@gmail.com">Email</a> | <a href="https://github.com/itsjohncs">GitHub</a>
    </p>
</article>
</body>
</html>
