@import "common.less";

p {
    margin: 0;
}

h2 {
    font-weight: 600;
    margin: 0 0 @lineHeight 0;
}

.ascii-banner {
    margin: 0 auto @lineHeight auto;

    .flame {
        color: #dc322f;
    }

    &-big {
        width: 43ch;
    }

    &-small {
        width: 33ch;
        display: none;
    }

    @media (max-width: @maxBannerWidth) {
        &-big {
            display: none;
        }

        &-small {
            display: block;
        }
    }
}

.nav-bar {
    text-align: center;
    margin-bottom: @lineHeight * 2;

    ul {
        padding: 0;
        list-style: none;
        display: block;

        li {
            display: inline;

            &:after {
                content: " -";
            }
        }

        li:last-child {
            &:after {
                content: "";
            }
        }
    }
}

.blog-info {
    margin-bottom: @lineHeight;
}

.post {
    margin-bottom: @lineHeight;

    .post-heading {
        margin-bottom: @lineHeight;

        .post-date {
            position: absolute;
            font-weight: 300;
            color: #6c71c4;
        }

        .post-title {
            display: block;
            margin-left: 13ch;
        }
    }

    .post-snippet-container {
        position: relative;
        overflow-y: hidden;

        .quote-gutter {
            word-wrap: break-word;
            color: #859900;
            width: 1ch;
            position: absolute;
            user-select: none;
        }

        .post-snippet {
            margin-left: 2ch;
        }
    }
}
